DataFactory/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get All Worker Details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[procfwk].[GetWorkerDetailsWrapper]",
						"storedProcedureParameters": {
							"ExecutionId": {
								"type": "Guid",
								"value": "F01ABA81-8999-4D7B-ABA5-45E733AA4699"
							},
							"PipelineId": {
								"type": "Int32",
								"value": "11"
							},
							"StageId": {
								"type": "Int32",
								"value": "4"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get All Worker Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "WorkDetails",
					"value": {
						"value": "@array(activity('Get All Worker Details').output.firstRow)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "CheckPipelineStatus",
					"method": "POST",
					"body": {
						"value": "@concat(variables('WorkDetails')[0],'\"runId\": \"c5c2e1e7-bdc8-4eec-b015-cd1aa498b0a4\"')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "FrameworkFunctions",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"WorkDetails": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "_ProcFwk"
		},
		"annotations": []
	}
}